<div class="wrapper">
	<a href="/update_personage/{{personage._id}}">

		<div class="clash-card wizard">
			<div class="clash-card__image clash-card__image--wizard">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard.png" alt="wizard"/>
			</div>
			<div class="clash-card__level clash-card__level--wizard">LEVEL
				{{personage.level}}</div>
			<div class="clash-card__unit-name">{{personage.name}}</div>
			<div class="clash-card__unit-description">
				{{personage.description}}
			</div>

			<div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">
				<div class="one-third">
					<div class="stat">{{personage.attack}}
					</div>
					<div class="stat-value">Attack</div>
				</div>

				<div class="one-third">
					<div class="stat">{{personage.defense}}</div>
					<div class="stat-value">Defense</div>
				</div>

				<div class="one-third no-border">
					<div class="stat">{{personage.life}}</div>
					<div class="stat-value">Life</div>
				</div>

			</div>

		</div>
	</a>
	<!-- end clash-card wizard-->
</div>
